@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-color: #eaaa85;
    font-family: 'Nunito', sans-serif;
}


/* ESTILOS DEL MENU
-------------------------------------------------------------
*/

.Menu{
    float:inline-start;
    text-align: center;
    background-color: #a80303;
    width: 100%;
    padding: 2px;  
}
.ContMenu{
    margin-top: 10px;
    float: right;
}
.logo{

    margin: 5px;
    padding: 10px;
    float: left;
    display: flex;
}

.fila{
    
    list-style:none;
    display: flex;   
}

.BtMenu{
    text-align: center;
    color:white;
    padding: 10px 40px 10px 40px;
    margin: 10px;
    border: solid 2px;
    border-radius: 30px;
    border-color: #e41a2b;

}
.BtMenu a:hover, a:visited, a:active{
    color: white;
}

/* ESTILOS DEL CONTENIDO
-------------------------------------------------------------
*/
.ContGlobal{
    
    min-height: 100vh;
    
}

/*------------------------------------------------------------
*/
/* ESTILOS PARRAFOS E IMAGENES
-------------------------------------------------------------
*/


.Parrafo{
    text-align: justify;
    float: left;
    background-color: #E0E0EC;
    color: #303030;
    padding: 35px 15px;
    margin: 3% 0;
    

}
.ParrafoCont{

    padding: 10px 5px;
    float: left;
    line-height : 30px;
    margin-right: 40%;
    
}


.ParrafoRegistro{
    text-align: center;
    display:block;
    background-color: #E0E0EC;
    color: #303030;
    padding: 20% 5%;
    margin: 0 15%;
    

}
.ParrafoContRegistrar{
    
    line-height : 250%;
    list-style: none;
    
}

.ParrafoContRegistrar div
{   
    background-color: #1D2323;
}
.ParrafoContRegistrar li{
   
    list-style: none;
    
}


.ParrafoRegistroU{
    text-align: center;
    display:block;
    background-color: #E0E0EC;
    color: #303030;
    padding: 20% 5%;
    margin: 0 15%;
    

}
.ParrafoContRegistrarU{
    
    line-height : 250%;
    
    
}





.Parraf{
    float: left;
    border-radius: 0px 40px 40px 0px;
    background-color: #1D2323;
    color: white;
    padding: 35px 15px;
    margin: 3% 0;

}
.ImagenH{
    text-align: right;
    position:absolute;
    padding: 10px;
    margin-left: 10%;
    
    
}
.ResponI
{
    border-radius: 25px;
    padding: 1%;
    background-color: #a80303;
    width: 40%

}
.ResponI2
{
    border-radius: 25px;
    padding: 1%;
    background-color: #a80303;
    width: 45%

}
.ImagenC{
    
    padding: 10px;
    margin-left: 10%;
    
}




/* 
-------------------------------------------------------------
*/
/* ESTILOS DEL FOOTER
-------------------------------------------------------------
*/

footer{
    
    background-color:#a80303 ;
    color: white;
    
}
footer ul{
    list-style: none;
}

.ContFooter{
    
    max-width: 1170px;
    margin: auto;
}

.Row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 25px 15px;
}
.footer-col h4{

    color: #12b4b4;
}



@media(max-width: 767px)
{
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}


/* 
-------------------------------------------------------------
*/

.Ingreso{
    text-align: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;

   

}
.ContLog{
    background-color: #E0E0EC;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;

}
.Ingreso label{
    padding: 10px;
    margin: 20px;
    
}

.form-group{
    width: 65%;
    padding: 10px;
    margin: 0 auto;
}
.form-group input{
    border-radius: 40px;
    width: 100%;
    height: 40px;
}
.ContLog button{
    background-color: #5C848E;
    font-size:150%;
    color:white;
    width: 40%;
    height: 50px;
    border-radius: 30px;
    margin: 10px;
}


/* nuevooooooooooo_______________________*/
.from-register {
    width: 50%;
    background: #24303c;
    padding: 30px;
    margin: 0 auto;
    border-radius: 4px;
   
    color:white;
}

.from-register h4 {
    font-size: 22px;
    color: white;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 15px;
    
    font-size: 18px;
    color: silver;
}

.from-register p{
    height: 15px;
    text-align: left;
    font-size: 25px;
}

.from-register a{
    color:white;
    text-decoration: none;
}

.from-register a:hover{
    color:white;
    text-decoration: underline;
}

.from-register .botons{
    width: 100%;
    background: #1f53c5;
    border-radius: 30px;
    padding: 12px;
    color: white;
    margin: 5px 0;
    font-size: 16px;

}


.nav li ul {
    display: none;
}


.menuCSS3 {
width: 100%;
height: 10px;
margin: 0 auto;
list-style: none;
}


.menuCSS3 a {
    padding: 2px;
    list-style: none;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}
.menuCSS3 a:hover {
    background-color: #CC673B;
}



.tab th {
    width: 10em;
    border:solid 1px;
    padding: 5px;
}

.tab{
    border-collapse: collapse;
    margin: 0 auto;
}
.tab td{
    border:solid 1px;
    padding: 5px;
}



.tab tr:nth-of-type(1)> th{
    background-color: orange;
    
}

.tab a{
    color: black;
    text-align: center;
    text-decoration: none;
    
}


.ejemplos{
    margin: 0 25%;
    padding: 5%;
    width: 70%;
}
.ejemplos img{
    margin: 2%;
    padding: 2%;
    background-color: #a80303;
    border-radius: 15px;
    width: 60%;
}
.titulos{
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
}
